* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define base unit, relative dimensions: rem */
html {
  font-size: 10px;
}

body {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

/***** Navbar *****/
.navbar {
  background-color: var(--bs-blue);
  position: fixed;
  width: 100vw;  /* view-width */
  z-index: 1;
}

.navbar-brand img {
  height: 4.4rem;
  width: 4.4rem;
}

